@inherits LayoutComponentBase
@inject HttpClient httpClient
@inject NavigationManager Navigation

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Style=" Elevation: 1;">

           
        <MudIconButton Icon= "@Icons.Filled.ArrowBack" Color="Color.Inherit" Edge="Edge.Start" />

        <MudSpacer />
        <div class="d-flex justify-center">
            <MudImage ObjectFit="@ImageFit" Height="20"  Src="images/nordic-door.png" Alt="Nordic door" Elevation="0" Class="squared-lg" />
        </div>
        
        <MudSpacer /> 
        <MudMenu MudIconButton Icon="@Icons.Filled.AccountBox" Color="Color.Inherit" Edge="Edge.End" >
            <MudMenuItem>Logg ut </MudMenuItem>
        </MudMenu>
       
    </MudAppBar>
    <MudMainContent Style="margin-left: 1.5rem; height: 100%; margin-right: 1.5rem;">
        @Body
    </MudMainContent>
</MudLayout>

@code{
    
   
    ObjectFit ImageFit = ObjectFit.Cover;

    void SetImageFit(ObjectFit value)
    {
        ImageFit = value;
    }
    

}