@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1">

           
        <MudIconButton Icon= "@Icons.Filled.ArrowBack" Color="Color.Inherit" Edge="Edge.Start" />

        <MudText Typo="Typo.h5" Class="ml-3">Nordic Doors</MudText>

        <div class="d-flex justify-center">
            <MudImage ObjectFit="@ImageFit" Height="60" Width="170" Src="NordicDoor/images/nordic-door.jpg" Alt="Nordic door" Elevation="25" Class="rounded-lg" />
        </div>

        <MudSpacer /> 
        <MudMenu MudIconButton Icon="@Icons.Filled.AccountBox" Color="Color.Inherit" Edge="Edge.End" >
            <MudMenuItem>Logg ut </MudMenuItem>
        </MudMenu>
       
    </MudAppBar>
    <MudMainContent Style="margin-left: 1.5rem; height: 100%; margin-right: 1.5rem;">
        @Body
    </MudMainContent>
</MudLayout>

@code{
    
    @code {
        ObjectFit ImageFit = ObjectFit.Cover;

        void SetImageFit(ObjectFit value)
        {
            ImageFit = value;
        }
    }

}