@inherits LayoutComponentBase
@inject HttpClient httpClient
@inject NavigationManager Navigation

<MudThemeProvider Theme="MyCustomTheme" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout Style="background-color:#e9e9e8">
    <MudAppBar Style=" Elevation: 1; background-color: white;">

          @if(Navigation.Uri != Navigation.BaseUri) {
            <MudIconButton Icon="@Icons.Filled.ArrowBack" Color="Color.Dark" Edge="Edge.Start" OnClick="OnBackClick" />

          }
        <MudSpacer />
        <div class="d-flex justify-center" style="position:relative; left:4%;">
            <MudImage ObjectFit="@ImageFit" Height="20"  Src="images/nordic-door.png" Alt="Nordic door" Elevation="0" Class="squared-lg" />
        </div>

        <MudSpacer />
        <div class="gap-6 d-flex">
            <MudLink Href="#" Color="Color.Dark">Admin</MudLink>
            <MudLink Href="#" Color="Color.Dark">Statistikk</MudLink>
        </div>

        <MudMenu MudIconButton Icon="@Icons.Filled.AccountBox" Color="Color.Dark" Edge="Edge.End" >
            <MudMenuItem>Logg ut </MudMenuItem>
        </MudMenu>

    </MudAppBar>
    <MudMainContent Style="margin-left: 1.5rem; height: 100%; margin-right: 1.5rem; margin-top: 1rem;">
        @Body
    </MudMainContent>
</MudLayout>



@code{


    ObjectFit ImageFit = ObjectFit.Cover;

    void SetImageFit(ObjectFit value)
    {
        ImageFit = value;
    }

    public void OnBackClick() {
        Navigation.NavigateTo("/");

    }

    MudTheme MyCustomTheme = new MudTheme()
        {
            Palette = new Palette()
            {
                Primary = Colors.Blue.Accent4,
                Secondary = Colors.Red.Accent3,
                
               
            },
          
           
        };
}